<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Kryvos File Encryptor</Name>
    <Version>1.0.0</Version>
    <Title>Kryvos File Encryptor</Title>
    <Publisher>The Kryvos Project</Publisher>
    <ProductUrl>https://github.com/adolby/Kryvos/</ProductUrl>
    <InstallerWindowIcon>kryvos</InstallerWindowIcon>
    <Logo>logo.png</Logo>
    <StartMenuDir>Kryvos</StartMenuDir>
    <TargetDir>@ApplicationsDir@/Kryvos</TargetDir>
</Installer>
